body {
    background: #eef1f6;
    font-family: Arial;
}

.container {
    width: 350px;
    background: white;
    padding: 20px;
    margin: 80px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 15px;
}

button {
    background: #008CFF;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #006bd1;
}

.logout {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 12px;
    background: red;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

p a {
    color: #0077cc;
}
